*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Sour Gummy', cursive;
  text-decoration: none;
}

body{
  max-width: 1440px;
}

header {
  background: linear-gradient(to right, rgb(195, 105, 236), rgb(85, 164, 238));
  border-bottom: solid 1px black;
}

header div{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 130px;
}

.header-img {
  max-width: 100px;
  height: auto; 
}

nav ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  display: flex; 
  gap: 50px;
}


.nav-link{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 25px;
  transition: color 0.3s ease;
}

.nav-link:hover{
  color: rgb(255, 255, 255); 
}

img{
  height: 80%;
}

.majors{
  margin: 100px auto 0px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.majors-cards{
  position: relative;
  height: 150px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(139, 38, 197, 0.5);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(195, 105, 236), rgb(85, 164, 238));
  text-align: center;
  border: solid 1px black;

  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.majors-cards:hover{
  transform: scale(1.1);
  
  z-index: 1;
}

.majors-cards img{
  height: 100%;
}

.majors-cards a{
  text-shadow: 0 0 10px #ffffff;
  color: #000000;
  font-weight: 700;
  position: absolute;
  font-size: 30px;
}

footer p{
  position: absolute;
  bottom: 1%;
  left:1%;
}

.upload-container{
  margin: 150px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 600px;
  border-radius: 30px;
  border: solid 2px black;
  background: linear-gradient(to right, rgb(195, 105, 236), rgb(85, 164, 238));
}

.upload-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.upload-form button{
  width: 70px;
}

.upload-form input{
  width: 172px;
}

.register-container{
  background: linear-gradient(to right, rgb(195, 105, 236), rgb(85, 164, 238));
  height: 200px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
  gap: 20px;
  border-radius: 30px;
  border: solid 2px black;
}

.register-form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.marketplace-container{
  text-align: center
}
.item-grid{
  max-width: 1440px;
  display: flex;
  flex-direction: column;

}

.item-card{
  width: 1000px;
  height: 200px;
  background: linear-gradient(to right, rgb(195, 105, 236), rgb(85, 164, 238));
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: solid 3px black;
  margin: 20px auto;

}

.item-card img{
  height: 120px;
  margin: 0 20px;
}

.item-card-text{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.buy-button{
  width: 100px;
  margin: 0 auto;
}